
  
  
  <style>
    .gps-505120487647544199 .gp-relative{position:relative}.gps-505120487647544199 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-505120487647544199 .gp-mb-0{margin-bottom:0}.gps-505120487647544199 .gp-flex{display:flex}.gps-505120487647544199 .gp-grid{display:grid}.gps-505120487647544199 .\!gp-hidden{display:none!important}.gps-505120487647544199 .gp-hidden{display:none}.gps-505120487647544199 .gp-max-w-full{max-width:100%}.gps-505120487647544199 .gp-flex-col{flex-direction:column}.gps-505120487647544199 .gp-gap-y-0{row-gap:0}.gps-505120487647544199 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505120487647544199 .gp-duration-200{transition-duration:.2s}.gps-505120487647544199 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-505120487647544199 .tablet\:\!gp-hidden{display:none!important}.gps-505120487647544199 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-505120487647544199 .mobile\:\!gp-hidden{display:none!important}.gps-505120487647544199 .mobile\:gp-hidden{display:none}}.gps-505120487647544199 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gcdWenGC30"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:0px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url({{ "432750572815254551-035e11bb-e18b-4dfb-bef6-b871f60d8151.svg" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcdWenGC30 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gKOmuw5iqe gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 0",
    "tag": "section",
    "class": "gps-505120487647544199 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/75d164-02/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=505120487429374855&sectionId=505120487647544199)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
